*{
    padding: 0%;
    margin: 0%;
    body {
  margin: 0;
  padding: 0;
  background-image: url("img1.png");   /* your image */
   background-size: cover;            /* fills the screen */
   background-position: center;       /* centers the image  */
  background-repeat: no-repeat;       /*  prevents tiling  */
  height: 100vh;                      /*  full viewport height */
}
img {
  /* This prevents the browser from blurring the image when scaled */
  image-rendering: crisp-edges;
  image-rendering: pixelated; 
}
}
#box{
    width: 100%;
    height: 100%;
       justify-content: center;
    display: flex;
    align-items: center;
}
.razzz{
    width: 90%;
    min-height: 50px;
    max-width: 500px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 40px;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  min-height: 300px; 
 padding: 20px;
 display: flex;
 flex-direction: column;
  /* color: rgba(212, 175, 55, 0.6); */
  color: rgb(160, 46, 46);
 font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  align-items: center;
    text-align: center
}
#btns{
  display: flex;
  justify-content: center;
  align-items: center;
  
gap: 10px;
margin-bottom: 20px;

}
/* #text{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
} */

.btn{
    width: 150px;
    height: 40px;
    border-radius: 35px;
    margin: 10px;
      margin-right: 120px;
      color:rgba(83, 64, 3, 0.6);
      font-size: 25px;
         cursor: pointer;
      transition: 0.3s;
  
}
#btn1{
  margin-left: 105px;
  background-color:pink;

}
#btn2{
 
  background-color:rgb(98, 98, 164);

}
.hide {
    display: none !important;

}
